<!DOCTYPE html>
<html>
<head>
	<title>Look at all the money!!</title>
</head>
<body>
	<p><%= name %>, you got back <%= results %>.</p>
	<p>If you would like to go back to pick another value of change, click "return".</p>
	<form method="post" action="return">
    	<input type="submit" value="Return">

	</form>
</body>
</html>