<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
</head>
<body>
	<h1>Hello, welcome to my coin changer.</h1>
	<p>please type your name in the field below</p>

	<br>

	<form method="post" action="name">
		<input type="text" name="name">
		<input type="submit">
	</form>

</body>
</html>