<!DOCTYPE html>
<html>
<head>
	<title>Is change good or bad?</title>
</head>
<body>
	<h3>Hello, <%= name %> please input the total amount of change you would like returned to you.</h3>

	<br>

	<form method="post" action="change-selector">
		<input type="number" name="cents">
		<input type="submit">
	</form>
</body>
</html>